<div style="flex: 1; text-align: center;">
  <% if @book_store.image.attached? %>
    <%= image_tag @book_store.image, size: "200x200", style: "width: 350px ;height: 350px;" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "200x200", style: "width: 350px ;height: 350px;"  %>
  <% end %>
</div>