<div class="container">
  <h2 class="mx-1 my-5 text-secondary text-center"><span class="border-bottom"><b>Strebook</b></span></h2>
  <div class="row justify-content-center text-center text-secondary border-bottom">
    このサイトは要望やアイデアをリクエストという形で届けることで、<br>
  </div>
  <div class="row justify-content-center text-center text-secondary border-bottom">
    書店のブラッシュアップに繋げる目的の下考案されました。<br>
  </div>
  <div class="row justify-content-center text-center text-secondary border-bottom">
    書店の投稿に対して行う感想コメント時にその書店に立ち寄りたい度をレビューしていただくことができます。<br>
  </div>
  <div class="row justify-content-center text-center text-secondary border-bottom">
    積極的にレビューをしていただくことで、書店の皆様の励みになります。<br>
  </div>
  <div class="row justify-content-center text-center text-secondary border-bottom">
    レビューやリクエスト・感想コメントお待ちしております。<br>
  </div>
</div>
