<footer>
  <div class='container mt-5'>
    <div class="row justify-content-center text-secondary border-bottom boder-secondary">
      <%= link_to "@Strebook", root_path, class:"text-secondary" %>
    </div>
  </div>
</footer>